<div class="container launch-container">
    <form class="launch-form" ng-class="{visible: !launched}">

        <div class="row launch-btn-container">
            <div class="col-md-12">
                <button ng-click="getSignedParameters()" class="btn btn-default launch-btn">Launch</button>
                <label><input type="checkbox" checked="checked" ng-model="newWindow" /> New Window</label>
            </div>
        </div>

        <!-- Tool -->
        <div class="step">
            <h5>Tool
                <div class="right tool-config-select">
                    <button class="btn btn-default small" ng-if="sampleTools.length > 1"
                            ng-click="configureTools()">
                        <i class="fa fa-cog" />
                    </button>
                    <select ng-if="sampleTools.length > 1" ng-model="launch.tool"
                            ng-options="tool as urlAndKey(tool) for tool in sampleTools">
                    </select>
                </div>
                <div class="clearfix"></div>
            </h5>
            <div class="row">
                <div class="col-md-6">
                    <input ng-model="launch.tool.url" placeholder="Url" class="form-control" />
                </div>
                <div class="col-md-6">
                    <input ng-model="launch.tool.key" placeholder="Key" class="form-control" />
                    <input ng-model="launch.tool.secret" placeholder="Secret" class="form-control" />
                </div>
            </div>
        </div>

        <!-- User -->
        <div class="step">
            <h5>User <select
                    ng-model="launch.user"
                    ng-options="user as user.lis_person_name_full for user in sampleUsers">
            </select><div class="clearfix"></div></h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="user-image-container">
                        <img ng-if="launch.user.user_image" ng-src="{{launch.user.user_image}}"/><input
                            ng-model="launch.user.user_image" placeholder="Image" class="form-control" />
                    </div>
                    <input ng-model="launch.user.lis_person_name_full" placeholder="Full Name" class="form-control" />
                    <input ng-model="launch.user.roles" placeholder="Roles" class="form-control" />
                    <input ng-model="launch.user.user_id" placeholder="Id" class="form-control" />
                </div>
                <div class="col-md-6">
                    <input ng-model="launch.user.lis_person_contact_email_primary" placeholder="Email" class="form-control" />
                    <input ng-model="launch.user.lis_person_name_given" placeholder="Given Name" class="form-control" />
                    <input ng-model="launch.user.lis_person_name_family" placeholder="Family Name" class="form-control" />
                </div>
            </div>
        </div>

        <!-- Course -->
        <div class="step">
            <h5>Context <select
                    ng-model="launch.context"
                    ng-options="context as context.context_title for context in sampleContexts">
            </select><div class="clearfix"></div></h5>
            <div class="row">
                <div class="col-md-6">
                    <input ng-model="launch.context.context_id" placeholder="Id" class="form-control" />
                    <input ng-model="launch.context.context_title" placeholder="Title" class="form-control" />
                    <input ng-model="launch.context.context_label" placeholder="Label (short name)" class="form-control" />
                </div>
                <div class="col-md-6">
                    <input ng-model="launch.context.resource_link_id" placeholder="Resource Id" class="form-control" />
                    <input ng-model="launch.context.resource_title" placeholder="Resource Title" class="form-control" />
                    <button ng-click="showGradebook(launch.context.context_id)" class="btn btn-default">Gradebook <i class="fa fa-calendar"/></button>
                </div>
            </div>
        </div>

        <!-- Custom Params -->
        <div class="step">
            <div class="row">
                <div class="col-md-6">
                    <h5>Custom Parameters</h5>
                    <textarea rows="3" ng-model="launch.config.custom_params" placeholder="Separate values with an '=', like userclass=king. Put each parameter on its own line." class="form-control params"/>
                </div>
                <div class="col-md-6">
                    <h5>Extension Parameters</h5>
                    <textarea rows="3" ng-model="launch.config.ext_params" placeholder="Separate values with an '=', like userclass=king. Put each parameter on its own line." class="form-control params"/>
                </div>
            </div>
        </div>

        <!-- Outcomes -->
        <div class="row">
            <div class="col-md-6">
                <div class="step">
                    <h5>Outcomes</h5>
                    <div>
                        <input type="checkbox" ng-model="outcomesOnepOne"/> 1.1
                    </div>
                    <div>
                        <input type="checkbox" ng-model="outcomesTwo"/> 2.0
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="launch-frame" ng-class="{visible: launched}">
        <button class="btn btn-default" ng-click="launched=false;"><</button>
        <iframe id="launch_frame" name="launch_frame"></iframe>
    </div>

    <script type="text/ng-template" id="gradebookModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Gradebook</h3>
            <span class="muted">({{gradebookId}})</span>
        </div>
        <div class="modal-body" id="modal-body">
            <gradebook gradebook-id="gradebookId"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
        </div>
    </script>
    <script type="text/ng-template" id="configureLaunches.html">
        <div class="modal-header">
            <h3 class="modal-title">Saved Launches</h3>
        </div>
        <div class="modal-body">
            <div ng-repeat="tool in tools" class="tool-config">
                <div><i class="fa fa-trash-o" ng-click="remove(tool)"/></div><div class="">
                    <div>
                        <span class="lbl">url:</span>{{tool.url}}
                    </div>
                    <div>
                        <span class="lbl">key:</span>{{tool.key}}
                    </div>
                    <div>
                        <span class="lbl">secret:</span>{{tool.secret}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
        </div>
    </script>
</div>