<div>
    <div ng-if="loading" class="focused-display">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
    <div ng-if="!loading">
        <div ng-if="gradebook" class="gradebook">
            <div class="columns">
                <div ng-repeat="column in gradebook.columns" class="column">
                    {{column.column.title}}
                </div>
            </div><div class="body">
                <div class="students">
                    <div ng-repeat="studentId in students" class="student-container">
                        <div class="student">{{studentId}}</div>
                    </div>
                </div>
                <div class="cell-columns">
                    <div ng-repeat="studentId in students" class="cell-column">
                        <div ng-repeat="column in gradebook.columns" class="cell {{getStudentGradeStyle(studentId, column.column.id)}}">
                            <a ng-if="getStudentSource(studentId, column.column.id) != null" ng-click="showSource('', getStudentSource(studentId, column.column.id))" style="cursor: pointer;">{{getStudentGradeForColumn(studentId, column.column.id)}}</a>
                            <span ng-if="getStudentSource(studentId, column.column.id) == null">{{getStudentGradeForColumn(studentId, column.column.id)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!gradebook" class="jumbotron focused-display">
            <h1><i class="fa fa-calendar" aria-hidden="true"></i></h1>
            <div>There isn't a gradebook for this context yet.</div>
            <div>Launch with this course in order to initiate one.</div>
        </div>
    </div>
</div>