.view {
    margin-top: 1em;
}
.center-vert{
    height:100%;
    display:table;
}
.center-vert .center-vert-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tool{
    height:2.5em;
}
li .row [class*='col-'] {
    height:100%;
}
.add-tool{
    margin-bottom:1em;
}
body{
    background-color:#FFFFFF;
}
table.table tr td{
    vertical-align:middle;
}
.toolProxySubmission a{
    cursor: pointer;
}

.step {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.step h5 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
}
.step h5 select {
    padding: 0.25em;
}

.step input {
    padding: 3px 6px;
    margin-bottom: 6px;
}


.user-image-container * {
    display: inline-block;
}
.user-image-container input {
  width: calc(100% - 38px);
}

.user-image-container input:only-child {
  width: 100%;
}

.user-image-container img {
  height: 32px;
  width: 32px;
  margin-right: 6px;
  border-radius: 100%;
}

form button:last-child {
  margin-bottom: 2em;
}

@media (min-width: 768px) {
    .modal-dialog {
      width: 90%;
    }
}

.muted {
  color: #888;
  font-style: oblique;
}

.focused-display {
  text-align: center;
}

.gradebook-container {
  overflow-x: auto;
  overflow-y: auto;
}

.view-header {
  margin-bottom: 1em;
}

.footer {
  text-align: center;
}

.gradebooks, .empty-gradebooks {
  min-height: 420px;
}

.main {
  padding-bottom: 2em;
}

label {
  font-weight: initial;
}

.launch-btn {
  margin-right: 1em;
}

.launch-container {
  perspective: 1500px;
  perspective-origin: 0 50%;
  min-height: 91em;
  overflow-y: auto;
  overflow-x: hidden;
}

.launch-container > form {
  display: inline-block;
}

.launch-container > div {
  display: inline-block;
}

.launch-frame {
  transition: all 0.35s  ease-out;
  transform: translate3d(100vw,0,0);
}

.launch-frame.visible {
  transform: translate3d(0vw,0,0);
}

.launch-form {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s  ease-out;
  transform: translate3d(-100vw,0,0);
}

.launch-form.visible {
  transform: translate3d(0,0,0);
}

.launch-frame {
  width: 100%;
  height: 100%;

}

.launch-frame iframe {
  height: 100%;
}

.launch-frame > * {
  display: inline-block;
  vertical-align: top;
}

.launch-frame iframe {
  width: calc(100% - 4em);
  height: 91em;
  border: 1px solid #ddd;
  background-color: #eee;
  box-sizing: content-box;
}

.launch-frame button {
  width: 3em;
  border: 1px solid #ddd;
}

.launch-btn-container {
  margin-bottom: 1em;
  text-align: right;
}

.right {
  float: right;
}

.tool-config-select > * {
  vertical-align: middle;
}

.lbl {
  font-weight: bold;
  width: 15%;
  text-align: right;
  display:inline-block;
  margin-right: 1em;
}

.tool-config {
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
}

.tool-config > * {
  display:inline-block;
  vertical-align: middle;
}

.tool-config > :first-child {
  width: 15%;
  text-align: right;
  padding-right: 1em;
}

.tool-config > :first-child i {
  font-size: 1.5em;
  cursor: pointer;
}

.tool-config > :last-child {
  width: 70%;
}

.tool-config:last-child {
  border-bottom: none;
}

.delete {
  cursor: pointer;
}

textarea.params {
  resize: none;
}

input[type=checkbox] {
  margin: 0;
}

label.inline > * {
  vertical-align: middle;
}

.headers th {
  height: 140px;
  border-top: none;
  border-bottom: 1px solid #ddd;
  width: 50px;
  vertical-align: inherit;
}

.header {
  height: 100px;
}

.gb-header {
  /*transform: rotate(315deg);*/
  width: 150px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  /*position:absolute;*/
  border-bottom: 1px solid #ddd;
  padding: 0px;
}

.students {
  height: 100px;
}

.students .student-container {
  width: 2.5em;
  position: relative;
}

.students .student {
  position: absolute;
  width: 150px;
  /*transform: rotate(-90deg);*/
  transform:
    translate(-10px, 25px)
    rotate(315deg);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.columns {
  overflow: hidden;
  white-space: nowrap;
  overflow-x: auto;
  padding-top: 100px;
  padding-bottom: 1em;
  width:200px;
  flex: 0 0 200px;
}
.columns .column {
  height: 2.5em;
  display: flex;
  align-items: center;
  margin: 0 1em;
}
.cell-column .cell {
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  border: 1px solid #ddd;
}

.cell.cell-success {
  border-color: #c3e6cb;
  color: #155724;
  background-color: #d4edda;
}
.cell.cell-warning {
  color: #856404;
  border-color: #ffeeba;
  background-color: #fff3cd;
}
.cell.cell-danger {
  color: #721c24;
  border-color: #f5c6cb;
  background-color: #f8d7da;
}

.students {
  display: flex;
  flex-direction: row;
}

.cell-columns {
  display: flex;
  flex-direction: row;
}

.gradebook {
  display: flex;
  flex-direction: row;
}
.body {
  /*flex: 1;*/
}
