.view {
    margin-top: 1em;
}
.center-vert{
    height:100%;
    display:table;
}
.center-vert .center-vert-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tool{
    height:2.5em;
}
li .row [class*='col-'] {
    height:100%;
}
.add-tool{
    margin-bottom:1em;
}
body{
    background-color:#FFFFFF;
}
table.table tr td{
    vertical-align:middle;
}
.toolProxySubmission a{
    cursor: pointer;
}

.step {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.step h5 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
}
.step h5 select {
    float: right;
    padding: 0.25em;
}

.step input {
    padding: 3px 6px;
    margin-bottom: 6px;
}


.user-image-container * {
    display: inline-block;
}
.user-image-container input {
  width: calc(100% - 38px);
}

.user-image-container input:only-child {
  width: 100%;
}

.user-image-container img {
  height: 32px;
  width: 32px;
  margin-right: 6px;
  border-radius: 100%;
}

form button:last-child {
  margin-bottom: 2em;
}

@media (min-width: 768px) {
    .modal-dialog {
      width: 90%;
    }
}

.muted {
  color: #888;
}

.focused-display {
  text-align: center;
}

.gradebook-container {
  overflow-x: auto;
  overflow-y: auto;
}

.view-header {
  margin-bottom: 1em;
}