.view {
    margin:1em; 
}
.center-vert{
    height:100%;
    display:table;
}
.center-vert .center-vert-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tool{
    height:2.5em;
}
li .row [class*='col-'] {
    height:100%;
}
.add-tool{
    margin-bottom:1em;
}
body{
    background-color:#FFFFFF;
}